<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'Ayuda'">
  <content has-header="true" has-tabs="true" padding="true">
    <img src="img/logo.jpg" class="ionic-logo">
    <p>
      EMTELCO nació en 1992 como una empresa  de Telecomunicaciones para prestar servicios de conectividad y equipos de comunicaciones. 
	  Posteriormente, en el 2003 incursionó en  la prestación de servicios de Contact Center y en 2009 amplio su portafolio con el 
	  diseño de soluciones Business Process Outsourcing (BPO) para la tercerización de los procesos de relacionamiento de las empresas 
	  con sus clientes: Ventas, Cobranzas, Servicio al Cliente, Back Office , Mesas de Servicio, y Premisas del Cliente.
    </p>
	<p> <a href="http://www.emtelco.com.co/">http://www.emtelco.com.co</a>
	</p>

  </content>
</view>
