<!--
  This template loads for the 'tab.certificado' state (app.js)
-->
<view title="'Genera tus Certificados'">
  <content has-header="true" has-tabs="true">
    <img src="img/logo.jpg" class="ionic-logo">
    <div class="list">
	
	  <a class="item item-icon-left" href="#/tab/laboral">
		<i class="icon ion-social-buffer"></i>
		Certificado Laboral
	  </a>
	  
	  <a class="item item-icon-left" href="#/tab/pagos">
		<i class="icon ion-android-note"></i>
		Comprobantes de Pago
	  </a>
	  
	  <a class="item item-icon-left" href="#/tab/ingresos">
		<i class="icon ion-android-inbox"></i>
		Cert. Ingresos y Retenciones
	  </a>
	  
	   
  </div>
  </content>
</view>
