<!--
  This template loads for the 'tab.certificado' state (app.js)
-->
<view title="'Ingresos Y Retenciones'">
  <content has-header="true" padding="true">
    <div class="card">
	  <div class="item item-text-wrap">
		A través de esta funcionalidad usted puede generar su último certificado de Ingresos y Retenciones  y descargarlo o enviarlo a su correo electrónico.
	  </div>
	</div>
    <div class="list">
	
	  <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Descargar o Enviar a Mail	
		<i class="icon ion-android-mail"></i>
	  </a>
	  
	   
  </div>
  </content>
</view>
