<!--
  This template loads for the 'tab.certificado' state (app.js)
-->
<view title="'Certificado Laboral'">
  <content has-header="true" padding="true">
    <div class="card">
	  <div class="item item-text-wrap">
		A través de esta funcionalidad usted puede generar su certificación laboral y descargarlo o enviarlo a su correo electrónico. Solo debe ingresar a quien debe ir dirigido el certificado.
	  </div>
	</div>
    <div class="item item-input-inset">
		<label class="item-input-wrapper">
		  <input type="text" placeholder="Ingrese Destinatario">
		</label>
		<button class="button button-small">
		  Generar
		</button>
    </div>
    <div class="list">
	
	  <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Descargar o Enviar a Mail	
		<i class="icon ion-android-mail"></i>
	  </a>
	  
	   
  </div>
  </content>
</view>
