<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<view title="'Emtelco SA'">
  <content has-header="true" has-tabs="false">
    <div class="list">
	<img src="img/logo.jpg" class="ionic-logo">
	  <label class="item item-input">
		<span class="input-label">Usuario</span>
		<input type="text">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Contraseña</span>
		<input type="password">
	  </label>
	  <button class="button  button-block button-positive">
	  Ingresar
	</button>
	</div>
  </content>
</view>
