<!-- 
  This template gets placed in the News tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'news' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<view title="'EMTELCO SA'">
  <content has-header="true" has-tabs="true">
	<img src="img/logo.jpg" class="ionic-logo">
    <div class="list">
	
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-android-book"></i>
		Noticias de Interés y Actualidad
	  </a>
	  
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-android-friends"></i>
		Convocatorias
	  </a>
	  
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-model-s"></i>
		Clasificados
	  </a>
	  
	   <a class="item item-icon-left" href="#">
		<i class="icon ion-edit"></i>
		Actualización de Datos
	  </a>
	  
	   <a class="item item-icon-left" href="#">
		<i class="icon ion-android-mail"></i>
		Contáctenos
	  </a>
  </div>
  </content>
</view>
