<!--
  This template loads for the 'tab.certificado' state (app.js)
-->
<view title="'Comprobantes de Pago'">
  <content has-header="true" padding="true">
    <div class="list">
	
	  <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Diciembre 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	   <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Noviembre 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	   <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Octubre 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	   <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Septiembre 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	   <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Agosto 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	   <a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-android-archive"></i>
		Julio 2013
		<i class="icon ion-android-mail"></i>
	  </a>
	  
	 
	  
	   
  </div>
  </content>
</view>
